h1 {
    background: red;
}
.paragraph-gb {
    background: rgb(0, 0, 255);
    font-size: 32pt;
    color: rgb(0, 128, 0);
}

.paragraph-2 {
    background: grey;
    border-radius: 5px;
    border-color: brown;
    font-size: 24pt;
    width: 50%;
}

.div-1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    margin-left: 60px;
}